name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - 
      name: checkout
      uses: actions/checkout@v2.3.4
    - 
      name: Set up QEMU
      uses: docker/setup-qemu-action@v1.0.1
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.1.1
    -
      name: Login to DockerHub
      uses: docker/login-action@v1.8.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    -
      name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2.2.2
      with:
        push: true
        tags: ggoussard/spotifyd:test
        platforms: linux/arm/v7,linux/amd64,linux/arm64
    -
      name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
